// @import "highlight"

.heti blockquote p 
    margin-block-end 12px  

heti-spacing {
    display: inline;

    & + sup,
    & + sub {
        margin-inline-start: 0;
    }
}

.heti-spacing-start {
    margin-inline-end: 0.25em;
}

.heti-spacing-end {
    margin-inline-start: 0.25em;
}

heti-adjacent {
    display: inline;
}

.heti-adjacent-half {
    margin-inline-end: -0.5em;
}

.heti-adjacent-quarter {
    margin-inline-end: -0.25em;
}