@import "highlight"


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

$fade-in
  opacity 0
  -webkit-animation fadeIn ease-in 1
  -moz-animation fadeIn ease-in 1
  animation fadeIn ease-in 1

  -webkit-animation-fill-mode forwards
  -moz-animation-fill-mode forwards
  animation-fill-mode forwards

  -webkit-animation-duration .6s
  -moz-animation-duration .6s
  animation-duration .6s

html,body 
  scroll-behavior smooth

body
  -webkit-font-smoothing antialiased
  display flex
  flex-flow column
  min-height 100vh

a
  color #555

em,
i,
cite,
dfn
  font-style italic

b,
strong
  font-weight 600

.content
  @extends $fade-in
  -webkit-animation-delay 0.4s
  -moz-animation-delay 0.4s
  animation-delay 0.4s

  word-wrap break-word

  flex 1
  font-size 14px
  line-height 1.7375
  letter-spacing 0.018em
  font-weight 300
  margin 0 auto
  width 60%
  color #555
  img
    display block
    max-width 100%
    margin-left auto
    margin-right auto

.footer
  @extends $fade-in
  -webkit-animation-delay 1.0s
  -moz-animation-delay 1.0s
  animation-delay 1.0s

  text-align center
  color #999
  margin 0 auto
  font-size 12px
  letter-spacing 0.03em
  width 100%
  height 5%
  left 0
  padding-top 50px
  padding-bottom 20px
  a
    color #555

.post-title-wrapper
  text-align center
  margin-bottom 2%

.post-title
  color #555
  text-decoration none

.post-date
  margin-top -20px
  padding-bottom 10px
  text-align center

.post-info
  margin-top -5px
  padding 0 1px 5px
  text-align justify
  display flex
  span.rp 
    color #ff9875

.post-tags 
  margin 30px 0
  h3
    margin 0px 0 5px
  i
    display inline-block
    margin-right 5px
    cursor pointer
    font-size 14px

.archive
  margin-top 5%

.archive-item
  @extends $fade-in
  -webkit-animation-delay 0.4s
  -moz-animation-delay 0.4s
  animation-delay 0.4s
  div
    margin-top 1%
    margin-bottom 1%
  &__link
    color #555
    

    &__time
      letter-spacing 0.04em
      // display inline-block
      margin-top 18px
      font-weight 500
    &__title
      // display inline-block
      padding-left 8px
      text-indent 12px
      border-left 1px solid #ccc

.feed-link
  display inline-block
  vertical-align middle
.feed-image
  height 25px

.header a
  margin-left 20px
  margin-right 0px
.header a:last-child 
  margin-right 16px
.header
  margin 20px auto 0
  width calc(95% + 40px)
  text-align justify
  display flex
.header-center
  flex 1
  display inline-block


.github-image
  @extends $fade-in
  height 35px
  -webkit-animation-delay 0.6s
  -moz-animation-delay 0.6s
  animation-delay 0.6s

.email-image
  @extends $fade-in
  height 35px
  -webkit-animation-delay 0.8s
  -moz-animation-delay 0.8s
  animation-delay 0.8s

.subscribe-image
  @extends $fade-in
  height 35px
  -webkit-animation-delay 1.0s
  -moz-animation-delay 1.0s
  animation-delay 1.0s


table
  border 1px solid #e7e7e7
  margin 15px auto
  border-collapse collapse
  empty-cells show

table th,
table td
  border 1px solid #e7e7e7
  padding 0 10px

.post-toc
  margin 0
  padding 10px 0px
  background-color #f7f7f7
  border-radius 3px
  ol 
    list-style none
    margin 0
    padding: 0 15px


#pagination
  text-align center
  padding 20px 0 10px
  .page-number
    margin 0 8px
  .extend
    margin 0 8px

.post-pagination
  display flex
  font-size 14px
  padding 0
  min-height 24px
  .post-pageurl
    position absolute
    left 0
    right 0
    top 0
    bottom 0
  .prev-post
    flex 1
    text-align left
    padding-right 20px
    position relative
    .post-pageurl
      right 15px
  .next-post
    flex 1
    text-align right
    padding-left 20px
    position relative
    .post-pageurl
      left 15px
  .fa
    margin 0 5px
    font-size 12px
    line-height 24px
  a
    display inline-flex
    max-width 100%
    span
      padding: 0
      flex 1
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      pointer-events none




blockquote 
  padding: 1px 5px 1px 10px
  margin: 0
  background-color: #fafafa
  border-radius: 4px
  border-left: 4px solid #ddd
  color #999

code
  color #ff9875

a 
  box-sizing border-box
  position relative
  color #000
  // border-bottom 4px solid #e8e8e8
  text-decoration-thickness 3px
  text-decoration-color #e8e8e8
  transition all 400ms ease-out

a:hover
  color #ff9875
  // border-bottom 1px solid #ff9875
  text-decoration-thickness 1px
  text-decoration-color #ff9875

.toc a, .archive-item a
    text-decoration: none


@media all and (max-width: 1024px) 
  .header
    width calc(100% - 40px)
    margin 20px 20px 0
  .content
    width calc(100% - 80px)
    margin 20px 40px 0
  .archive
    margin-left: 0px
  .archive-item
    &__link
      &__title
        margin-left 0