- var options = {prev_text: '<', next_text: '>'}
- var prev = page.prev && page.prev.source === '_posts/about.md' ? page.prev.prev : page.prev
- var next = page.next && page.next.source === '_posts/about.md' ? page.next.next : page.next


#pagination
  if(!is_post())
    .pagination
      !=paginator(options)
  else
    div.post-pagination
        if(prev)
            .prev-post.pull-left
                div.post-pageurl
                    a(href=url_for(prev.path))
                        span=`${prev.title}`
        if(next)
            .next-post.pull-right
                div.post-pageurl
                    a(href=url_for(next.path))
                        span=`${next.title}`